table.table.floatThead-table thead{
	background-color: #FCFCFC;
}

.modal-info .modal-body,
.modal-danger .modal-body {
    background-color: #ffffff !important;
    color: #333333 !important;
}

a{
	color: #dd4b39;
}

.bootstrap-datetimepicker-widget.dropdown-menu{
	z-index: 1002;
}

a:hover,
a:focus{
	color: #F81C01;
}

.table>tbody>tr>td.padding-l-30{
	padding-left: 30px;
}

.text-90{
	font-size: 90%;
}

/* DATETIME PICKER */

.bootstrap-datetimepicker-widget table td.today::before {
    border-color: rgba(0, 0, 0, 0.2) transparent #f56954;;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #f56954;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td span.active{
	background-color: #f56954;
}


/* SELECT2 */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f56954;
    color: white;
}

/* BACK TO TOP */
#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 20px;
    display:none;
}
